@font-face {
  font-family: 'Abhaya Libre';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/e3tmeuGtX-Co5MNzeAOqinEQfEnS.ttf) format('truetype');
}
@font-face {
  font-family: 'Abhaya Libre';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/e3t5euGtX-Co5MNzeAOqinEYx2zCrdZM.ttf) format('truetype');
}
